.background-image {
    width: 100%;
    height: 400px;
    /*background-image: url('./assets/images/3d-geometric-shapes-in-natural-background.jpg'); */
    background-image: url('./3d-cartoon-character-djing-party.jpg');
    background-size: cover;
    background-position: center;
  }